@page "/profile/{UserId:guid}"

@inject IUserService _userService
@inject IThreadService _threadService

<div class="container mt-lg-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">@UserProfileDetails.UserEmail</h4>
                <div class="p-2 mt-2 bg-success d-flex justify-content-between rounded text-white stats" style="width: 40rem">
                    <div class="d-flex flex-column justify-content-center" style="width: 15rem"> <span class="articles">Total bets made</span> <span style="align-content:center">@UserProfileDetails.TotalMadeBets</span> </div>
                    <div class="d-flex flex-column" style="width: 15rem;">
                        <span class="followers">Created Auctions</span>
                        @foreach (var auction in UserProfileDetails.Auctions)
                        {
                            <span>@auction.Name</span>
                        }
                    </div>
                    <div class="d-flex flex-column" style="width: 15rem;">
                        <span class="followers">My Threads</span>
                        @foreach (var thread in ThreadsDetails)
                        {
                            <NavLink class="font-weight-bold" href="@($"thread/{thread.Id}")">@thread.Topic</NavLink>
                        }
                    </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"><NavLink class="nav-link" href="@($"message/{UserId}")"><button class="btn btn-sm btn-outline-success w-100">Sent New Message</button></NavLink>  </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid UserId { get; set; }

    public UserProfileDetails UserProfileDetails { get; set; }
    public List<ThreadDetails> ThreadsDetails { get; set; }

    protected async override void OnInitialized()
    {
        UserProfileDetails = _userService.GetUserProfileDetails(UserId.ToString());
        ThreadsDetails  = await _threadService.GetThreadsAndMessagesByUserId();
    }
}
